vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 May 2014 20:26:01 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|VAIO\\SONY
vti_modifiedby:SR|VAIO\\SONY
vti_timecreated:TR|05 May 2014 20:26:01 -0000
vti_cacheddtm:TX|05 May 2014 20:26:01 -0000
vti_filesize:IR|222
vti_backlinkinfo:VX|
