<?php
    define ('WP_MEMORY_LIMIT', '96M');
    session_start();

    require_once "model/Grafico.php";

    set_time_limit(60);

    $objGlobal = new Grafico();

    $query_Global = $objGlobal->Totales($_SESSION["idsucursal"]);
    while ($reg_Global= $query_Global->fetch_object()) {
          $moneda=$reg_Global->moneda;
          $totalingreso=$reg_Global->totalingreso;
          $totalcontado=$reg_Global->totalcontado;
          $totalcredito=$reg_Global->totalcredito;
    }

    $queryPerfil = $objGlobal->ListarEmpPerfil($_SESSION["idempleado"]);

    $row = $queryPerfil->fetch_object();

?>
<script>
    $(document).ready(function(){
        perfil = verPerfil(<?=$_SESSION["idusuario"];?>);
        $('.alert').hide();//comentar esta linea cuando se cambie de hosting
    })
</script>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Aviso!</strong> Actualiza tu Perfil. <a href="#" onclick="cargarDataEmpleado('<?=$row->idempleado;?>','<?=$row->apellidos;?>','<?=$row->nombre;?>','<?=$row->tipo_documento;?>','<?=$row->num_documento;?>','<?=$row->direccion;?>','<?=$row->coorX;?>','<?=$row->coorY;?>','<?=$row->telefono;?>','<?=$row->email;?>','<?=$row->fecha_nacimiento;?>','<?=$row->foto;?>','<?=$row->login;?>','<?=$row->clave;?>','<?=$row->estado;?>')" class="alert-link">Aqui.</a>
</div>
<div id="VerListado">

<section class="content-header">
    <h1>
        Escritorio
        <small>Estadísticas</small>
    </h1>
</section>

<section class="content">
        <div class="row">

            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h4 style="font-size:17px;"><strong><?php echo $moneda.$totalingreso;?></strong></h4>
                  <p>Compras</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="ComprasFechas.php" class="small-box-footer">Compras <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>

            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h4 style="font-size:17px;"><strong><?php echo $moneda.$totalcontado;?></strong></h4>
                  <p>Ventas Contado</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="VentasFechas.php" class="small-box-footer">Ventas <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h4 style="font-size:17px;"><strong><?php echo $moneda.$totalcredito;?></strong></h4>
                  <p>Ventas Crédito</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="VentasFechas.php" class="small-box-footer">Ventas <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->

            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h4 style="font-size:17px;"><strong><?php echo $moneda.($totalcontado+$totalcredito);?></strong></h4>
                  <p>Caja Inicial</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">Caja <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
        </div>
          <div class="row">
            <div class="col-md-6">
              <!-- AREA CHART -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title" style="font-size:17px;">Compras - Meses</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="chart">
                    <canvas id="areaChart" style="height:250px"></canvas>
                  </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->

              <!-- DONUT CHART -->
              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title" style="font-size:17px;">Más vendidos</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                    <canvas id="pieChart" style="height:250px"></canvas>
                </div><!-- /.box-body -->
              </div><!-- /.box -->

            </div><!-- /.col (LEFT) -->
            <div class="col-md-6">
              <!-- LINE CHART -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title" style="font-size:17px;">Ventas - Meses</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="chart">
                    <canvas id="lineChart" style="height:250px"></canvas>
                  </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->

              <!-- BAR CHART -->
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title" style="font-size:17px;">Ventas - días</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="chart">
                    <canvas id="barChart" style="height:230px"></canvas>
                  </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->

            </div><!-- /.col (RIGHT) -->
          </div><!-- /.row -->

        </section><!-- /.content -->
</div>

<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <!--Contenido-->


    <div class="col-sm-14"  id="VerForm">
        <section class="content-header">
            <h1>Empleado</h1>
        </section>
        <form role="form" name="frmEmpleado" id="frmEmpleado" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12 left">
                    <div class="row">
                         <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                            <label>Los campos con (*) son olbigatorios</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <input id="txtIdEmpleado" type="hidden" maxlength="50" class="form-control" name="txtIdEmpleado" placeholder="" autofocus="" />
                                <label>Apellidos (*):</label>
                                <input id="txtApellidos" type="text" maxlength="40" name="txtApellidos" required="" class="form-control" placeholder="Apellidos" autofocus="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Nombre (*):</label>
                                <input id="txtNombre" type="text" maxlength="20" name="txtNombre" required="" class="form-control" placeholder="Nombre" autofocus="" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12 left">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Tipo Documento (*):</label>
                                <select id="cboTipo_Documento" required="" name="cboTipo_Documento" class="form-control">

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Documento (*):</label>
                                <input id="txtNum_Documento" type="text" maxlength="20" name="txtNum_Documento" required="" class="form-control" placeholder="Número de documento" autofocus="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 left">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Dirección:</label>
                                <input id="txtDireccion" type="text" maxlength="100" name="txtDireccion" placeholder="Ingrese la dirección" class="form-control" autofocus="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 left">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div id="mapa" class="form-group"></div><!--End mapa-->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                                    <div class="form-group has-success">
                                        <label>Buscar en Google Maps:</label>
                                        <input id="buscar" name="buscar" type="text" placeholder="Buscar en Google Maps" value="" class="form-control" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12  form-group">
                                    <button type="button" id="search" class="btn btn-primary" style="margin-top: 25px;" >
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <span>Buscar</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group has-success">
                                        <input id="cx" name="cx" type="text" placeholder="Latitud" value="" readonly class="form-control" data-validation="required"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group has-success">
                                        <input id="cy" name="cy" type="text" placeholder="Longitud" value="" readonly class="form-control" data-validation="required"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12  form-group">
                                    <button type="button" class="btn btn-primary" onclick="initMap();" >
                                        <i class="fa fa-refresh" aria-hidden="true"></i>
                                        <span>Cargar Mapa</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 left">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Teléfono:</label>
                                <input id="txtTelefono" type="text" maxlength="20" name="txtTelefono" class="form-control" placeholder="Ingrese el teléfono" autofocus="" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Email:</label>
                                <input id="txtEmail" type="text" maxlength="70" name="txtEmail"  class="form-control" placeholder="Ingrese el email" autofocus="" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 left">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Fecha Nacimiento:</label>
                                <input id="txtFecha_Nacimiento" type="date" name="txtFecha_Nacimiento" class="form-control" autofocus="" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Foto (*):</label>
                                <input id="imagenEmp" type="file" class="form-control" name="imagenEmp" autofocus="" />
                            <input id="txtRutaImgEmp" type="text" class="form-control" name="txtRutaImgEmp" autofocus="" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Estado (*):</label>
                                <select class="form-control" required="" name="txtEstado" id="txtEstado">
                                  <option value="A">Activado</option>
                                  <option value="C">Cancelado</option>
                                  <option value="S">SuperAdmin</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                            <div class="form-group has-success">
                                <label>Login (*):</label>
                                <input id="txtLogin" type="text" class="form-control" required="" maxlength="50" name="txtLogin" autofocus="" />

                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                            <div class="form-group">
                                <div class="form-group has-success">
                                    <label>Clave (*):</label>
                                    <input id="txtClave" type="password" required="" class="form-control" maxlength="32" name="txtClave" autofocus="" />
                                    <input id="txtClaveOtro" type="text" class="form-control" maxlength="32" name="txtClaveOtro" autofocus="" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                        <h5></h5>
                        <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Registrar</button>
                        <a href="Escritorio.php" class="btn btn-primary" ><i class="fa fa-remove"></i> Cancelar</a>
                        <hr>
                        <span class="lead text-primary"></span>


                </div>
            </div>
        </form>
    </div>
        </div>
    </div>
</div>

    <!-- ChartJS 1.0.1 -->
    <?php
    /*$obj = new Grafico();
    $query_ComprasMesSucursal = $obj->ComprasMesSucursal($_SESSION["idsucursal"]);
    $query_ComprasMesSucursal2 = $obj->ComprasMesSucursal($_SESSION["idsucursal"]);

    $query_VentasMesSucursal = $obj->VentasMesSucursal($_SESSION["idsucursal"]);
    $query_VentasMesSucursal2 = $obj->VentasMesSucursal($_SESSION["idsucursal"]);

    $query_VentasDiasSucursal = $obj->VentasDiasSucursal($_SESSION["idsucursal"]);
    $query_VentasDiasSucursal2 = $obj->VentasDiasSucursal($_SESSION["idsucursal"]);

    $query_ProductosVendidosAno = $obj->ProductosVendidosAno($_SESSION["idsucursal"]);
    $query_ProductosVendidosAno2 = $obj->ProductosVendidosAno($_SESSION["idsucursal"]);*/
    ?>
    <script src="public/js/Chart.js"></script>

    <script>
      $(function () {
        /* ChartJS
         * -------
         * Here we will create a few charts using ChartJS
         */

        //--------------
        //- AREA CHART -
        //--------------

        // Get context with jQuery - using jQuery's .get() method.
        var areaChartCanvas = $("#areaChart").get(0).getContext("2d");
        // This will get the first returned node in the jQuery collection.
        var areaChart = new Chart(areaChartCanvas);

        var ComprasMesSucursal = {
          labels: [<?php while ($reg_ComprasMesSucursal= $query_ComprasMesSucursal->fetch_object()) {
                       echo '"'.$reg_ComprasMesSucursal->mes.'",';
                }?>],
          datasets: [
            {
              label: "Electronics",
              fillColor: "rgba(210, 214, 222, 1)",
              strokeColor: "rgba(210, 214, 222, 1)",
              pointColor: "rgba(210, 214, 222, 1)",
              pointStrokeColor: "#c1c7d1",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: []
            },
            {
              label: "Digital Goods",
              fillColor: "rgba(60,141,188,0.9)",
              strokeColor: "rgba(60,141,188,0.8)",
              pointColor: "#3b8bba",
              pointStrokeColor: "rgba(60,141,188,1)",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(60,141,188,1)",
              data: [<?php while ($reg_ComprasMesSucursal2= $query_ComprasMesSucursal2->fetch_object()) {
                       echo ''.$reg_ComprasMesSucursal2->totalmes.',';
                }?>]
            }
          ]
        };

        var VentasMesSucursal = {
          labels: [<?php while ($reg_VentasMesSucursal= $query_VentasMesSucursal->fetch_object()) {
                       echo '"'.$reg_VentasMesSucursal->mes.'",';
                }?>],
          datasets: [
            {
              label: "Electronics",
              fillColor: "rgba(210, 214, 222, 1)",
              strokeColor: "rgba(210, 214, 222, 1)",
              pointColor: "rgba(210, 214, 222, 1)",
              pointStrokeColor: "#c1c7d1",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: []
            },
            {
              label: "Digital Goods",
              fillColor: "rgba(60,141,188,0.9)",
              strokeColor: "rgba(60,141,188,0.8)",
              pointColor: "#3b8bba",
              pointStrokeColor: "rgba(60,141,188,1)",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(60,141,188,1)",
              data: [<?php while ($reg_VentasMesSucursal2= $query_VentasMesSucursal2->fetch_object()) {
                       echo ''.$reg_VentasMesSucursal2->totalmes.',';
                }?>]
            }
          ]
        };

        var VentasDiasSucursal = {
          labels: [<?php while ($reg_VentasDiasSucursal= $query_VentasDiasSucursal->fetch_object()) {
                       echo '"'.$reg_VentasDiasSucursal->dia.'",';
                }?>],
          datasets: [
            {
              label: "Electronics",
              fillColor: "rgba(210, 214, 222, 1)",
              strokeColor: "rgba(210, 214, 222, 1)",
              pointColor: "rgba(210, 214, 222, 1)",
              pointStrokeColor: "#c1c7d1",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: []
            },
            {
              label: "Digital Goods",
              fillColor: "rgba(60,141,188,0.9)",
              strokeColor: "rgba(60,141,188,0.8)",
              pointColor: "#3b8bba",
              pointStrokeColor: "rgba(60,141,188,1)",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(60,141,188,1)",
              data: [<?php while ($reg_VentasDiasSucursal2= $query_VentasDiasSucursal2->fetch_object()) {
                       echo ''.$reg_VentasDiasSucursal2->totaldia.',';
                }?>]
            }
          ]
        };

        var areaChartOptions = {
          //Boolean - If we should show the scale at all
          showScale: true,
          //Boolean - Whether grid lines are shown across the chart
          scaleShowGridLines: false,
          //String - Colour of the grid lines
          scaleGridLineColor: "rgba(0,0,0,.05)",
          //Number - Width of the grid lines
          scaleGridLineWidth: 1,
          //Boolean - Whether to show horizontal lines (except X axis)
          scaleShowHorizontalLines: true,
          //Boolean - Whether to show vertical lines (except Y axis)
          scaleShowVerticalLines: true,
          //Boolean - Whether the line is curved between points
          bezierCurve: true,
          //Number - Tension of the bezier curve between points
          bezierCurveTension: 0.3,
          //Boolean - Whether to show a dot for each point
          pointDot: false,
          //Number - Radius of each point dot in pixels
          pointDotRadius: 4,
          //Number - Pixel width of point dot stroke
          pointDotStrokeWidth: 1,
          //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
          pointHitDetectionRadius: 20,
          //Boolean - Whether to show a stroke for datasets
          datasetStroke: true,
          //Number - Pixel width of dataset stroke
          datasetStrokeWidth: 2,
          //Boolean - Whether to fill the dataset with a color
          datasetFill: true,
          //String - A legend template
          legendTemplate: "",
          //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
          maintainAspectRatio: true,
          //Boolean - whether to make the chart responsive to window resizing
          responsive: true
        };

        //Create the line chart
        areaChart.Line(ComprasMesSucursal, areaChartOptions);

        //-------------
        //- LINE CHART -
        //--------------
        var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
        var lineChart = new Chart(lineChartCanvas);
        var lineChartOptions = areaChartOptions;
        lineChartOptions.datasetFill = false;
        lineChart.Line(VentasMesSucursal, lineChartOptions);

        //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.
        var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
        var pieChart = new Chart(pieChartCanvas);
        var PieData = [
          <?php
            $cont=1;
            $cadena='';
            while ($reg_ProductosVendidosAno= $query_ProductosVendidosAno->fetch_object()) {
                       $cadena=$cadena.'{ value:'.$reg_ProductosVendidosAno->cantidad.',color:"';

                       switch($cont)
                       {
                        case 1:
                            $color='#f56954';
                            break;
                        case 2:
                            $color='#00a65a';
                            break;
                        case 3:
                            $color='#f39c12';
                            break;
                        case 4:
                            $color='##00c0ef';
                            break;
                        case 5:
                            $color='##3c8dbc';
                            break;
                        case 6:
                            $color='##d2d6de';
                            break;
                        case 7:
                            $color='#8B008B';
                            break;
                        case 8:
                            $color='#FF8C00';
                            break;
                        case 9:
                            $color='#696969';
                            break;
                        case 10:
                            $color='#ADFF2F';
                            break;
                       }

                       $cadena=$cadena.$color;
                       $cadena=$cadena.'",highlight: "';
                       $cadena=$cadena.$color.'",label: "'.$reg_ProductosVendidosAno->articulo.'" },';

            $cont=$cont+1;}
            echo $cadena;?>
        ];
        var pieOptions = {
          //Boolean - Whether we should show a stroke on each segment
          segmentShowStroke: true,
          //String - The colour of each segment stroke
          segmentStrokeColor: "#fff",
          //Number - The width of each segment stroke
          segmentStrokeWidth: 2,
          //Number - The percentage of the chart that we cut out of the middle
          percentageInnerCutout: 50, // This is 0 for Pie charts
          //Number - Amount of animation steps
          animationSteps: 100,
          //String - Animation easing effect
          animationEasing: "easeOutBounce",
          //Boolean - Whether we animate the rotation of the Doughnut
          animateRotate: true,
          //Boolean - Whether we animate scaling the Doughnut from the centre
          animateScale: false,
          //Boolean - whether to make the chart responsive to window resizing
          responsive: true,
          // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
          maintainAspectRatio: true,
          //String - A legend template
          legendTemplate: ""
        };
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        pieChart.Doughnut(PieData, pieOptions);

        //-------------
        //- BAR CHART -
        //-------------
        var barChartCanvas = $("#barChart").get(0).getContext("2d");
        var barChart = new Chart(barChartCanvas);
        var barChartData = VentasDiasSucursal;
        barChartData.datasets[1].fillColor = "#00a65a";
        barChartData.datasets[1].strokeColor = "#00a65a";
        barChartData.datasets[1].pointColor = "#00a65a";
        var barChartOptions = {
          //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
          scaleBeginAtZero: true,
          //Boolean - Whether grid lines are shown across the chart
          scaleShowGridLines: true,
          //String - Colour of the grid lines
          scaleGridLineColor: "rgba(0,0,0,.05)",
          //Number - Width of the grid lines
          scaleGridLineWidth: 1,
          //Boolean - Whether to show horizontal lines (except X axis)
          scaleShowHorizontalLines: true,
          //Boolean - Whether to show vertical lines (except Y axis)
          scaleShowVerticalLines: true,
          //Boolean - If there is a stroke on each bar
          barShowStroke: true,
          //Number - Pixel width of the bar stroke
          barStrokeWidth: 2,
          //Number - Spacing between each of the X value sets
          barValueSpacing: 5,
          //Number - Spacing between data sets within X values
          barDatasetSpacing: 1,
          //String - A legend template
          legendTemplate: "",
          //Boolean - whether to make the chart responsive
          responsive: true,
          maintainAspectRatio: true
        };

        barChartOptions.datasetFill = false;
        barChart.Bar(barChartData, barChartOptions);
      });

      $('#liEstadistica').addClass("treeview active");
      $('#liEscritorio').addClass("active");

    </script>

<script type="text/javascript">

    //VARIABLES GENERALES
    //DECLARAS FUERA DEL READY DE JQUERY
    var map;
    var markers       = [];
    var marcadores_bd = [];
    var mapa          = null; //VARIABLE GENERAL PARA EL MAPA

    function initMap(){
        /* GOOGLE MAPS */
        var formulario = $('#frmEmpleado');
        //COODENADAS INICIALES -16.5207007,-68.1615534
        //VARIABLE PARA EL PUNTO INICIAL
        var punto = new google.maps.LatLng(-16.499299167397574, -68.1646728515625);
        //VARIABLE PARA CONFIGURACION INICIAL
        var config = {
            zoom:10,
            center:punto,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        mapa = new google.maps.Map( $("#mapa")[0], config );

        google.maps.event.addListener(mapa, "click", function(event){
            //OBTENER COORDENADAS POR SEPARADO
            var coordenadas = event.latLng.toString();
            coordenadas     = coordenadas.replace("(", "");
            coordenadas     = coordenadas.replace(")", "");

            var lista       = coordenadas.split(",");
            //alert(lista[0]+"---"+lista[1])
            var direccion = new google.maps.LatLng(lista[0], lista[1]);
            //variable marcador
            var marcador = new google.maps.Marker({
                //titulo: prompt("Titulo del marcador"),
                position: direccion,
                map: mapa, //ENQUE MAPA SE UBICARA EL MARCADOR
                animation: google.maps.Animation.DROP, //COMO APARECERA EL MARCADOR
                draggable: false // NO PERMITIR EL ARRASTRE DEL MARCADOR
                //title:"Hello World!"
            });

            //PASAR LAS COORDENADAS AL FORMULARIO
            formulario.find("input[name='cx']").val(lista[0]);
            formulario.find("input[name='cy']").val(lista[1]);
            //UBICAR EL FOCO EN EL CAMPO TITULO
            formulario.find("input[name='addres']").focus();

            //UBICAR EL MARCADOR EN EL MAPA
            //setMapOnAll(null);
            markers.push(marcador);

            //AGREGAR EVENTO CLICK AL MARCADOR
            google.maps.event.addListener(marcador, "click", function(){
                //alert(marcador.titulo);
            });
            deleteMarkers(markers);
            deleteMarkers(marcadores_bd);
            marcador.setMap(mapa);
        });

    }

    //FUNCIONES PARA EL GOOGLE MAPS

    function deleteMarkers(lista){
        for(i in lista){
            lista[i].setMap(null);
        }
    }

    function geocodeResult(results, status) {
        // Verificamos el estatus
        if (status == 'OK') {
            // Si hay resultados encontrados, centramos y repintamos el mapa
            // esto para eliminar cualquier pin antes puesto
            var mapOptions = {
                center: results[0].geometry.location,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            //mapa = new google.maps.Map($("#mapa").get(0), mapOptions);
            // fitBounds acercará el mapa con el zoom adecuado de acuerdo a lo buscado
            mapa.fitBounds(results[0].geometry.viewport);
            // Dibujamos un marcador con la ubicación del primer resultado obtenido
            //var markerOptions = { position: results[0].geometry.location }
            var direccion = results[0].geometry.location;
            var coordenadas = direccion.toString();

            coordenadas = coordenadas.replace("(", "");
            coordenadas = coordenadas.replace(")", "");
            var lista = coordenadas.split(",");

            //var direccion = new google.maps.LatLng(lista[0], lista[1]);
            //PASAR LAS COORDENADAS AL FORMULARIO

            $('#formNew').find("input[name='cx']").val(lista[0]);
            $('#formNew').find("input[name='cy']").val(lista[1]);
            //$('#form').find("input[name='buscar']").val('');

            var marcador = new google.maps.Marker({
                position: direccion,
                zoom:15,
                map: mapa, //ENQUE MAPA SE UBICARA EL MARCADOR
                animation: google.maps.Animation.DROP, //COMO APARECERA EL MARCADOR
                draggable: false // NO PERMITIR EL ARRASTRE DEL MARCADOR
            });
            markers.push(marcador);
            deleteMarkers(markers);
            marcador.setMap(mapa);
            //marker.setMap(mapa);

        } else {
            // En caso de no haber resultados o que haya ocurrido un error
            // lanzamos un mensaje con el error
            alert("El buscador no tuvo éxito debido a: " + status);
        }
    }
    // BUSCADOR
    $('#search').on('click', function() {
        // Obtenemos la dirección y la asignamos a una variable
        var address = $('#buscar').val();
        // Creamos el Objeto Geocoder
        var geocoder = new google.maps.Geocoder();
        // Hacemos la petición indicando la dirección e invocamos la función
        // geocodeResult enviando todo el resultado obtenido
        geocoder.geocode({ 'address': address}, geocodeResult);
    });

        //FUERA DE READY DE JQUERY
  //FUNCION PARA RECUPERAR PUNTOS DE LA BD
  function listaMap(coorX, coorY){
    //ANTES DE LISTAR MARCADORES
    //SE DEBEN QUITAR LOS ANTERIORES DEL MAPA
    deleteMarkers(markers);
    var formulario_edicion = $("#frmEmpleado");

    if(coorX != ""){
        //alert('Hay puntos en la BD');
        //$.each(data, function(i, item){
            //OBTENER LAS COORDENADAS DEL PUNTO
            var posi = new google.maps.LatLng(coorX, coorY);
            //CARGAR LAS PROPIEDADES AL MARCADOR
            var marca = new google.maps.Marker({
                //idMarcador:item.IdPunto,
                position:posi,
                //zoom:15,
                //titulo: item.Titulo,
                cx:coorX,//esas coordenadas vienen de la BD
                cy:coorY,//esas coordenadas vienen de la BD
                draggable: false
            });
            //AGREGAR EVENTO CLICK AL MARCADOR
            //MARCADORES QUE VIENEN DE LA BASE DE DATOS
            google.maps.event.addListener(marca, 'click', function(){
                //alert("Hiciste click en "+marca.position + " - " + marca.titulo);
                //ENTRAR EN EL SEGUNDO COLAPSIBLE
                //Y OCULTAR EL PRIMERO
                //$("#collapseTwo").collapse("show");
                //$("#collapseOne").collapse("hide");
                //VER DOCUMENTACION DE BOOTSTRAP

                //AHORA PASAR LA INFORMACION DEL MARCADOR
                //AL FORMULARIO
                /*formulario_edicion.find("input[name='id']").val(marca.idMarcador);*/
                //formulario_edicion.find("input[name='titulo']").val(marca.titulo).focus();
                /*formulario_edicion.find("input[name='cx']").val(marca.cx);
                formulario_edicion.find("input[name='cy']").val(marca.cy);*/

            });
            //AGREGAR EL MARCADOR A LA VARIABLE MARCADORES_BD
            marcadores_bd.push(marca);
            //UBICAR EL MARCADOR EN EL MAPA
            marca.setMap(mapa);
        //});
    }else{
        //alert('No hay puntos en la BD');
        initMap();
    }
  }

</script>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7FN4j43pO5hJesGiaTGDqShcxqzcZLZ8&force=lite"></script>
<style>
#mapa {

    height: 220px;
    border: 1px #ccc solid;
}
</style>
