<div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Status Cliente</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      	<div class="row">
          	<div class="col-md-12">
                <!--Contenido-->

                <div class="col-sm-14"  id="VerForm">
                          <!--
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Categoria</h3>
            </div>
        </div>
      -->
<form role="form" name="frmClienteStatus" id="frmClienteStatus" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-12 left">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group has-success">
                        <label>Status Cliente:</label>
                        <select readonly="" required="" class="form-control" name="txtStatus_Cliente" id="txtStatus_Cliente">
                          <option value="N">No se Vendio</option>
                          <option value="C">Cerrado</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 left">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <label></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group has-success">
                        <input readonly="" id="txtIdPersona" type="hidden" maxlength="50" class="form-control" name="txtIdPersona" placeholder="" autofocus="" />
                        <label>Tipo Persona (*):</label>
                        <select required="" readonly="" class="form-control" name="cboTipo_Persona">
                          <option>Cliente</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <div class="form-group has-success">
                        <label>Nombre (*):</label>
                        <input readonly="" id="txtNombre" type="text" maxlength="100" name="txtNombre" required="" class="form-control" placeholder="Nombre / Razón Social" autofocus="" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-12 left">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group has-success">
                        <label>Tipo Documento (*):</label>
                        <select required="" readonly="" id="cboTipo_Documento" name="cboTipo_Documento" class="form-control">

                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group has-success">
                        <label>Documento (*):</label>
                        <input readonly="" id="txtNum_Documento" type="text" maxlength="20" name="txtNum_Documento" required="" class="form-control" placeholder="Número de documento" autofocus="" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group has-success">
                        <label>Departamento (*):</label>
                        <input readonly="" id="txtDireccion_Departamento" type="text" maxlength="45" name="txtDireccion_Departamento" required="" placeholder="Departamento" class="form-control" autofocus="" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-12 left">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group has-success">
                        <label>Provincia (*):</label>
                        <input readonly="" id="txtDireccion_Provincia" type="text" maxlength="45" name="txtDireccion_Provincia" class="form-control" required="" placeholder="Provincia" autofocus="" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group has-success">
                        <label>Calle/Avenida/Plaza/Otro (*):</label>
                        <select readonly="" required="" class="form-control" name="txtDireccion_Calle">
                          <option>Avenida</option>
                          <option>Calle</option>
                          <option>Carretera</option>
                          <option>Pasaje</option>
                          <option>Plaza</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group has-success">
                        <label>Nombre Calle/Avenida/Plaza/Otro (*):</label>
                        <input readonly="" id="txtDireccion_Nom_Calle" type="text" maxlength="70" name="txtDireccion_Nom_Calle" required="" placeholder="Nombre Calle/Avenida/Plaza/Otro" class="form-control" autofocus="" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-12 left">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group has-success">
                        <label>Numero Domicilio (*):</label>
                        <input readonly="" id="txtDireccion_Num" type="text" maxlength="70" name="txtDireccion_Num" placeholder="Numero Domicilio" required="" class="form-control" autofocus="" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group has-success">
                        <label>Zona/Barrio/Otro (*):</label>
                        <select readonly="" required="" class="form-control" name="txtDireccion_Zona">
                          <option>Zona</option>
                          <option>Anillo</option>
                          <option>Barrio</option>
                          <option>Comunidad</option>
                          <option>Localidad</option>
                          <option>Manzano</option>
                          <option>Plan</option>
                          <option>Unidad Vecinal</option>
                          <option>Urbanización</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group has-success">
                        <label>Nombre Zona/Barrio/Otro (*):</label>
                        <input readonly="" id="txtDireccion_Nom_Zona" type="text" maxlength="70" name="txtDireccion_Nom_Zona" required="" placeholder="Nombre Zona/Barrio/Otro" class="form-control" autofocus="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 left">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="mapa" class="form-group"></div><!--End mapa-->
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                                        <div class="form-group has-success">
                                            <label>Buscar en Google Maps:</label>
                                            <input id="buscar" name="buscar" type="text" placeholder="Buscar en Google Maps" value="" class="form-control" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12  form-group">
                                        <button type="button" id="search" class="btn btn-primary" style="margin-top: 25px;" >
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            <span>Buscar</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group has-success">
                                            <input id="cx" name="cx" type="text" placeholder="Latitud" value="" readonly class="form-control" data-validation="required"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group has-success">
                                            <input id="cy" name="cy" type="text" placeholder="Longitud" value="" readonly class="form-control" data-validation="required"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12  form-group">
                                        <button type="button" class="btn btn-primary" onclick="initMap();" >
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                            <span>Cargar Mapa</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                <h5></h5>
                <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Registrar</button>
                <a href="statusCliente.php" class="btn btn-primary" ><i class="fa fa-remove"></i> Cancelar</a>
                <hr>
                <span class="lead text-primary"></span>


        </div>
    </div>
</form>
    </div>
    <br><br>
    <div id="VerListado" class="table-responsive">
    	<table id="tblClienteStatus" class="table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                	<th>#</th>
                    <th>Cliente</th>
                    <th>Documento</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Direccion</th>
                    <th>Opciones</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Documento</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Direccion</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>

            <tbody id="cliente">

            </tbody>
        </table>
    </div>
		                    <!--Fin-Contenido-->
                  		</div>
                  	</div><!-- /.row -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->
<style>
#mapa {

    height: 220px;
    border: 1px #ccc solid;
}
</style>

<script type="text/javascript">

    $('#liVentas').addClass("treeview active");
    $('#liStatus').addClass("active");

    //VARIABLES GENERALES
    //DECLARAS FUERA DEL READY DE JQUERY
    var map;
    var markers       = [];
    var marcadores_bd = [];
    var mapa          = null; //VARIABLE GENERAL PARA EL MAPA

    function initMap(){
        /* GOOGLE MAPS */
        var formulario = $('#frmClienteStatus');
        //COODENADAS INICIALES -16.5207007,-68.1615534
        //VARIABLE PARA EL PUNTO INICIAL
        var punto = new google.maps.LatLng(-16.499299167397574, -68.1646728515625);
        //VARIABLE PARA CONFIGURACION INICIAL
        var config = {
            zoom:10,
            center:punto,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        mapa = new google.maps.Map( $("#mapa")[0], config );
    }

    //FUNCIONES PARA EL GOOGLE MAPS

    function deleteMarkers(lista){
        for(i in lista){
            lista[i].setMap(null);
        }
    }

    function geocodeResult(results, status) {
        // Verificamos el estatus
        if (status == 'OK') {
            // Si hay resultados encontrados, centramos y repintamos el mapa
            // esto para eliminar cualquier pin antes puesto
            var mapOptions = {
                center: results[0].geometry.location,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            //mapa = new google.maps.Map($("#mapa").get(0), mapOptions);
            // fitBounds acercará el mapa con el zoom adecuado de acuerdo a lo buscado
            mapa.fitBounds(results[0].geometry.viewport);
            // Dibujamos un marcador con la ubicación del primer resultado obtenido
            //var markerOptions = { position: results[0].geometry.location }
            var direccion = results[0].geometry.location;
            var coordenadas = direccion.toString();

            coordenadas = coordenadas.replace("(", "");
            coordenadas = coordenadas.replace(")", "");
            var lista = coordenadas.split(",");

            //var direccion = new google.maps.LatLng(lista[0], lista[1]);
            //PASAR LAS COORDENADAS AL FORMULARIO

            $('#formNew').find("input[name='cx']").val(lista[0]);
            $('#formNew').find("input[name='cy']").val(lista[1]);
            //$('#form').find("input[name='buscar']").val('');

            var marcador = new google.maps.Marker({
                position: direccion,
                zoom:15,
                map: mapa, //ENQUE MAPA SE UBICARA EL MARCADOR
                animation: google.maps.Animation.DROP, //COMO APARECERA EL MARCADOR
                draggable: false // NO PERMITIR EL ARRASTRE DEL MARCADOR
            });
            markers.push(marcador);
            deleteMarkers(markers);
            marcador.setMap(mapa);
            //marker.setMap(mapa);

        } else {
            // En caso de no haber resultados o que haya ocurrido un error
            // lanzamos un mensaje con el error
            alert("El buscador no tuvo éxito debido a: " + status);
        }
    }
    // BUSCADOR
    $('#search').on('click', function() {
        // Obtenemos la dirección y la asignamos a una variable
        var address = $('#buscar').val();
        // Creamos el Objeto Geocoder
        var geocoder = new google.maps.Geocoder();
        // Hacemos la petición indicando la dirección e invocamos la función
        // geocodeResult enviando todo el resultado obtenido
        geocoder.geocode({ 'address': address}, geocodeResult);
    });

        //FUERA DE READY DE JQUERY
  //FUNCION PARA RECUPERAR PUNTOS DE LA BD
  function listaMap(coorX, coorY){
    //ANTES DE LISTAR MARCADORES
    //SE DEBEN QUITAR LOS ANTERIORES DEL MAPA
    deleteMarkers(markers);
    var formulario_edicion = $("#frmClienteStatus");

    if(coorX != ""){
        //alert('Hay puntos en la BD');
        //$.each(data, function(i, item){
            //OBTENER LAS COORDENADAS DEL PUNTO
            var posi = new google.maps.LatLng(coorX, coorY);
            //CARGAR LAS PROPIEDADES AL MARCADOR
            var marca = new google.maps.Marker({
                //idMarcador:item.IdPunto,
                position:posi,
                //icon: 'img/green.png',
                //zoom:15,
                //titulo: item.Titulo,
                cx:coorX,//esas coordenadas vienen de la BD
                cy:coorY,//esas coordenadas vienen de la BD
                draggable: false
            });
            //AGREGAR EVENTO CLICK AL MARCADOR
            //MARCADORES QUE VIENEN DE LA BASE DE DATOS
            google.maps.event.addListener(marca, 'click', function(){
                alert("Hiciste click en "+marca.position + " - " + marca.titulo);
                //ENTRAR EN EL SEGUNDO COLAPSIBLE
                //Y OCULTAR EL PRIMERO
                //$("#collapseTwo").collapse("show");
                //$("#collapseOne").collapse("hide");
                //VER DOCUMENTACION DE BOOTSTRAP

                //AHORA PASAR LA INFORMACION DEL MARCADOR
                //AL FORMULARIO
                /*formulario_edicion.find("input[name='id']").val(marca.idMarcador);*/
                //formulario_edicion.find("input[name='titulo']").val(marca.titulo).focus();
                /*formulario_edicion.find("input[name='cx']").val(marca.cx);
                formulario_edicion.find("input[name='cy']").val(marca.cy);*/

            });
            //AGREGAR EL MARCADOR A LA VARIABLE MARCADORES_BD
            marcadores_bd.push(marca);
            //UBICAR EL MARCADOR EN EL MAPA
            marca.setMap(mapa);
        //});
    }else{
        //alert('No hay puntos en la BD');
        initMap();
    }
  }

</script>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7FN4j43pO5hJesGiaTGDqShcxqzcZLZ8&force=lite"></script>
